<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
  <li><%=link_to 'Inicio',root_path%></li>
    <li class='active'>Clientes</li>
</ul>

<%- model_class = Cliente -%>
<div class="page-header">
  <h1>Clientes <%= link_to 'Crear cliente',new_cliente_path,:class => 'btn btn-primary pull-right' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:CIF) %></th>
      <th><%= model_class.human_attribute_name(:telefono) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:direccion) %></th>
      <th><%= model_class.human_attribute_name(:notas) %></th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= link_to cliente.nombre,cliente %></td>
        <td><%= cliente.CIF %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.email %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.notas %></td>

        <td width="100">
              <div class="btn-group">
                <a href="<%=cliente_path(cliente)%>" class="btn btn-primary">Ver</a>
                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="<%=edit_cliente_path(cliente)%>">Editar</a></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Borrar el cliente', cliente,
                         method: :delete,
                         data: { confirm: '¿Estás seguro? Esta acción no se puede deshacer. Los pedidos de este cliente también se eliminarán' },:class=>"" %></li>
                </ul>
            </div>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>


