<%- model_class = Cliente -%>
<div class="page-header">
  <h1>Cliente: <%=@cliente.nombre%></h1>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Información del cliente:</h3>
  </div>
  <div class="panel-body">  
      <dl class="dl-horizontal">
        <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
        <dd><%= @cliente.nombre %></dd>
        <dt><strong><%= model_class.human_attribute_name(:CIF) %>:</strong></dt>
        <dd><%= @cliente.CIF %></dd>
        <hr/>
        <dt><strong><%= model_class.human_attribute_name(:telefono) %>:</strong></dt>
        <dd><%= @cliente.telefono %></dd>
        <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
        <dd><%= mail_to @cliente.email%></dd>
        <dt><strong><%= model_class.human_attribute_name(:direccion) %>:</strong></dt>
        <dd><%= @cliente.direccion %></dd>
        <%if @cliente.notas.present?%>
        <hr/>
        <dt><strong><%= model_class.human_attribute_name(:notas) %>:</strong></dt>
        <dd><%= @cliente.notas %></dd>
        <%end%>
      </dl>
          <div class="form-actions pull-right">
          <%= link_to 'Editar',edit_cliente_path(@cliente), :class => 'btn btn-primary' %>
              <%= link_to 'Eliminar',
              cliente_path(@cliente),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

        </div>

  </div>
</div>

<!-- Pedidos del cliente-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Listado de pedidos de <%=@cliente.nombre%></h3>
  </div>
  <div class="panel-body">
              <span><%=link_to 'Crear un pedido',new_cliente_pedido_path(@cliente),:class=>'btn btn-primary pull-right'%></span>
              <table class="table table-striped">
              <thead>
                <tr> 
                  <th>Fecha</th>
                  <th>Muebles que incluye</th>
                  <th >Acciones </th>
                </tr>
              </thead>
              <tbody>
                <% @cliente.pedidos.each do |pedido| %>
                  <tr>
                    <td><%=pedido.fecha%></td>
                    <td><span class='badge'><%=pedido.items.count%></span>&nbsp; <%=link_to 'modelos',pedido_path(pedido) %></td>
                    
                     <td width="100">
              <div class="btn-group">
                <a href="<%=pedido_path(pedido)%>" class="btn btn-primary">Ver</a>
                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="<%=edit_pedido_path(pedido)%>">Editar</a></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Borrar el pedido', @pedido,
                         method: :delete,
                         data: { confirm: '¿Estás seguro? Esta acción no se puede deshacer. Los modelos de este pedido también se eliminarán' },:class=>"" %></li>
                </ul>
            </div>
         </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
  </div>
</div>
