<%- model_class = Cliente -%>
<div class="page-header">
  <h1>Cliente: <%=@cliente.nombre%></h1>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Información del cliente:</h3>
  </div>
  <div class="panel-body">  
      <dl class="dl-horizontal">
        <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
        <dd><%= @cliente.nombre %></dd>
        <dt><strong><%= model_class.human_attribute_name(:CIF) %>:</strong></dt>
        <dd><%= @cliente.CIF %></dd>
        <hr/>
        <dt><strong><%= model_class.human_attribute_name(:telefono) %>:</strong></dt>
        <dd><%= @cliente.telefono %></dd>
        <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
        <dd><%= mail_to @cliente.email%></dd>
        <dt><strong><%= model_class.human_attribute_name(:direccion) %>:</strong></dt>
        <dd><%= @cliente.direccion %></dd>
        <%if @cliente.notas.present?%>
        <hr/>
        <dt><strong><%= model_class.human_attribute_name(:notas) %>:</strong></dt>
        <dd><%= @cliente.notas %></dd>
        <%end%>
      </dl>
          <div class="form-actions pull-right">
           
          <%= link_to 'Editar',edit_cliente_path(@cliente), :class => 'btn btn-primary' %>
              <%= link_to 'Eliminar',
              cliente_path(@cliente),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
        </div>

  </div>
</div>


