<p id="notice"><%= notice %></p>

<h1>Listing Familia</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @familia.each do |familium| %>
      <tr>
        <td><%= familium.nombre %></td>
        <td><%= familium.descripcion %></td>
        <td><%= link_to 'Show', familium %></td>
        <td><%= link_to 'Edit', edit_familium_path(familium) %></td>
        <td><%= link_to 'Destroy', familium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Familium', new_familium_path %>
