<%= form_for(@pieza) do |f| %>
  <% if @pieza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pieza.errors.count, "error") %> prohibited this pieza from being saved:</h2>

      <ul>
      <% @pieza.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :ancho %><br>
    <%= f.number_field :ancho %>
  </div>
  <div class="field">
    <%= f.label :alto %><br>
    <%= f.number_field :alto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
