<%= form_for @pieza, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-group">
    <%= f.label 'Nombre de la pieza', :class => 'control-label col-lg-2' %>
     <div class="col-lg-6">
    <%= f.text_field :nombre, :class => 'form-control' %>
    </div>
  </div>
 <div class="form-group">
    <%= f.label 'Tipo de la pieza', :class => 'control-label col-lg-2' %>
     <div class="col-lg-6">
    <%= f.select :tipo, options_for_select([['Casco', 'Casco'], ['Puerta', 'Puerta'],['Herraje', 'Herraje']]) ,{}, {:class=>'form-control'}%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Alto', :class => 'control-label col-lg-2' %>
     <div class="col-lg-6">
    <%= f.text_field :alto, :class => 'form-control' %>
    </div>
    </div>
    <div class="form-group">
    <%= f.label 'Ancho', :class => 'control-label col-lg-2' %>
     <div class="col-lg-6">
    <%= f.text_field :ancho, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Descripción', :class => 'control-label col-lg-2' %>
     <div class="col-lg-6">
    <%= f.text_area :descripcion, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class =' col-lg-2' ></div>
     <div class="col-lg-6">
     <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar',
                piezas_path, :class => 'btn' %>
    </div>
  </div>
  
<% end %>
