<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
 <li><%=link_to 'Inicio',root_path%></li>
  <li><%=link_to 'Piezas',piezas_path%></li>
  <li class="active"><%=@pieza.nombre.capitalize%></li>
  
</ul>

<%- model_class = Pieza -%>
<div class="page-header">
  <h1>Mostrando pieza</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @pieza.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo) %>:</strong></dt>
  <dd><%= @pieza.tipo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alto) %>:</strong></dt>
  <dd><%= @pieza.alto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ancho) %>:</strong></dt>
  <dd><%= @pieza.ancho %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
  <dd><%= @pieza.descripcion %></dd>
  
</dl>

<div class="form-actions">

  <%= link_to 'Editar',
              edit_pieza_path(@pieza), :class => 'btn btn-primary' %>
  <%= link_to 'Eliminar',
              pieza_path(@pieza),
              :method => 'delete',
              :data => { :confirm => 'Se va a eliminar esta pieza. La pieza dejará de estar disponible en los muebles que la usen ¿Estás seguro?' },
              :class => 'btn btn-danger' %>
</div>
