<div class='hidden-print'> 
<ul class="breadcrumb">Est치s en: &nbsp;&nbsp;
    <li><%=link_to 'Inicio',root_path%></li>
    <li><%=link_to 'Clientes',clientes_path%></li>
    <li><%=link_to @pedido.cliente.nombre,@pedido.cliente%></li>
    <li><%=link_to @pedido.fecha,@pedido%></li>
    
    <li class="active">Desglose</li>
</ul>

</div>



<h1>Orden de trabajo </h1>
<h3 class='visible-print'><span class='pull-rigth'>Fecha de emisi칩n: <%=Time.now.strftime('%d/%m/%y - %H:%M')%></span></h3>
  <hr/>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del pedido</h3>

  
  </div>
  <div class="panel-body">
        <dl class="dl-horizontal hidden-print">
          <dt><strong>Nombre del cliente:&nbsp;</strong></dt>
          <dd><%= @pedido.cliente.nombre%></dd>
          <dt><strong>Fecha del pedido:&nbsp;</strong></dt>
          <dd><%= @pedido.fecha%></dd>
        </dl>
        <table class='visible-print'>
        <tr>
          <th><strong>Nombre del cliente:</strong></th>
          <td><%= @pedido.cliente.nombre%></td>
        </tr>
        <tr>
          <th><strong>Fecha del pedido:</strong></th>
          <td><%= @pedido.fecha%></td>
        </tr>
        </table>
  
  </div>
  </div>

  <div class="well hidden-print">
      <ul>
           <li><i> Para ordenar por una <b>columna</b> en concreto hacer click sobre ella</i>, un segundo click invierte el orden</li>
           
      <ul>
    </div>
 <!--Visualizaci칩n en tablas de cara a la impresi칩n-->

 <ul class="nav nav-tabs hidden-print">
  <li class="active"><a href="#cascos" data-toggle="tab">Cascos</a></li>
  <li><a href="#puertas" data-toggle="tab">Puertas</a></li>
  <li><a href="#herrajes" data-toggle="tab">Herrajes</a></li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="cascos">
  
<br/>
            <!--Detalle de piezas-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Piezas de tipo CASCO
    <span class='pull-right'>Tipos de pieza usados:&nbsp;&nbsp;<span class='badge'><%=@pedido.componentes_mueble_unicos.count%></span></span></h3>
  </div>
  <div class="panel-body">
     <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>

        <style type="text/css">

              .sorting_asc {
  padding-right:18px;
  cursor: pointer;
  background:  url(<%= image_tag('sort_desc.png')%>) no-repeat top right;
}

.sorting_desc {
  padding-right:18px;
  cursor: pointer;
  background: url(<%= image_tag('sort_desc.png')%>) no-repeat top right;
}

.sorting {
  padding-right:18px;
  cursor: pointer;
  background: url(<%=image_tag('sort_both.png')%>) no-repeat top right;
}

.sorting_asc_disabled {
  padding-right:18px;
  cursor: pointer;
  background: url(<%=image_tag('sort_asc_disabled.png')%>) no-repeat top right;
}

.sorting_desc_disabled {
  padding-right:18px;
  cursor: pointer;
  background: url('<%=image_tag('sort_desc_disabled.png')%>) no-repeat top right;
}

table.dataTable th>div.DataTables_sort_wrapper {
  position: relative;
  white-space: nowrap;
}
table.dataTable th > div.DataTables_sort_wrapper > span.DataTables_sort_icon.css_right {
  display: inline-block;
  position: absolute;
  right: 0px;
  vertical-align: top;
}

        </style>

        <script type="text/javascript">
            $(document).ready( function () {
              $('.table').DataTable( {
              "dom": 'R',
              "bSort": true
               } );
          } );
        </script>

   
      <table id='example' class="table table-striped datatable">
              <thead>
                <tr> 
                  <th data-column-index="0" class='sorting'>Total</th>
                  <th class='sorting'>Nombre de la pieza</th> 
                  <th>Alto</th> 
                  <th>Ancho</th> 
                </tr>
              </thead>
              <tbody>
                 <%@pedido.componentes_mueble_unicos.each do |componente|%>
                  <tr>
                    <td width="50"><span class='badge'><%=@pedido.total_cascos(componente.pieza)%></span></td>
                    <td><%=componente.pieza.nombre%></td>
                     <td><%=componente.pieza.alto%></td>
                      <td><%=componente.pieza.ancho%></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          

  </div>
</div>
 

  </div>
  <div class="tab-pane fade" id="puertas">
 <br/>
              <!--Aqui las piezas de tipo  puerta-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Piezas de tipo PUERTA  <span class='pull-right'>Tipos de pieza usados:&nbsp;&nbsp;<span class='badge'><%=@pedido.dame_puertas_unicas.count%></span></h3>
  </div>
  <div class="panel-body">
       
     <!--Aqui la cuenta de piezas-->
    
    
      <table class="table table-striped">
              <thead>
                <tr> 
                  <th>Total</th>
                  <th>Nombre de la pieza</th>
                   <th>Alto</th>
                   <th>Ancho</th>
                </tr>
              </thead>
              <tbody>
                   <%@pedido.dame_puertas_unicas.sort {|a,b| a.pieza.nombre <=> b.pieza.nombre }.each do |componente|%>
                     <tr>
                    <td width="50"><span class='badge'><%=@pedido.total_para_modelos(componente.pieza)%></span></td>
                    <td><%=componente.pieza.nombre%></td>
                     <td><%=componente.pieza.alto%></td>
                      <td><%=componente.pieza.ancho%></td>
                  </tr>
                  <%end%>
              </tbody>
            </table>
            
  </div>
</div>

  </div>
  <div class="tab-pane fade" id="herrajes">
 </br>
                <!--Aqui las piezas de ti herraje-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Piezas de tipo HERRAJE<span class='pull-right'>Tipos de pieza usados:&nbsp;&nbsp;<span class='badge'><%=@pedido.dame_herrajes_unicas.count%></span></span></h3>
  </div>
  <div class="panel-body">
   
         <!--Aqui la cuenta de piezas-->
          
      <% if @herrajes.nil?%>
      <table class="table table-striped">
              <thead>
                <tr> 
                  <th>Total</th>
                  <th>Nombre de la pieza</th>
                </tr>
              </thead>
              <tbody>
                   <%@pedido.dame_herrajes_unicas.each do |componente|%>
                     <tr>
                    <td width="50"><span class='badge'><%=@pedido.total_para_modelos(componente.pieza)%></span></td>
                    <td><%=componente.pieza.nombre%></td>
                  </tr>
                  <%end%>
              </tbody>
            </table>
            <%end%>
  </div>
 </div>
  </div>
</div>


