<div class='hidden-print'>
<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
    <li><%=link_to 'Inicio',root_path%></li>
    <li><%=link_to 'Clientes',clientes_path%></li>
    <li><%=link_to @pedido.cliente.nombre,@pedido.cliente%></li>
    <li><%=link_to @pedido.fecha,@pedido%></li>
    
    <li class="active">Desglose</li>
</ul>

</div>


<h1>Orden de trabajo</h1>
  <hr/>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del pedido</h3>

  
  </div>
  <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><strong>Cliente</strong></dt>
          <dd><%= @pedido.cliente.nombre%> - <%= @pedido.cliente.CIF%> &nbsp;&nbsp;<b>Teléfono:</b> <%=@pedido.cliente.telefono%></dd>
          <dt><strong>Fecha</strong></dt>
          <dd><%= @pedido.fecha%></dd>
        </dl>
  
  </div>
  </div>

 <!--Visualización en tablas de cara a la impresión-->

 <ul class="nav nav-tabs hidden-print">
  <li class="active"><a href="#cascos" data-toggle="tab">Cascos</a></li>
  <li><a href="#puertas" data-toggle="tab">Puertas</a></li>
  <li><a href="#herrajes" data-toggle="tab">Herrajes</a></li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="cascos">
  
<br/>
            <!--Detalle de piezas-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Piezas de tipo CASCO</h3>
  </div>
  <div class="panel-body">
     
        <!--Aqui la cuenta de piezas-->
      <p class='pull-right'>Tipos de piezas usados:&nbsp;&nbsp;<span class='badge'><%=@pedido.componentes_mueble_unicos.count%></span></p>
   
      <table class="table table-striped">
              <thead>
                <tr> 
                  <th>Total</th>
                  <th>Nombre de la pieza</th> 
                  <th>Alto</th> 
                  <th>Ancho</th> 
                </tr>
              </thead>
              <tbody>
                 <%@pedido.componentes_mueble_unicos.each do |componente|%>
                  <tr>
                    <td width="50"><span class='badge'><%=@pedido.total_cascos(componente.pieza)%></span></td>
                    <td><%=componente.pieza.nombre%></td>
                     <td><%=componente.pieza.alto%></td>
                      <td><%=componente.pieza.ancho%></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          

  </div>
</div>
 

  </div>
  <div class="tab-pane fade" id="puertas">
 <br/>
              <!--Aqui las piezas de tipo  puerta-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Piezas de tipo PUERTA</h3>
  </div>
  <div class="panel-body">
       
     <!--Aqui la cuenta de piezas-->
      <p class='pull-right'>Tipos de piezas usados:&nbsp;&nbsp;<span class='badge'><%=@pedido.dame_puertas_unicas.count%>
    
      <table class="table table-striped">
              <thead>
                <tr> 
                  <th>Total</th>
                  <th>Nombre de la pieza</th>
                   <th>Alto</th>
                   <th>Ancho</th>
                </tr>
              </thead>
              <tbody>
                   <%@pedido.dame_puertas_unicas.each do |componente|%>
                     <tr>
                    <td width="50"><span class='badge'><%=@pedido.total_para_modelos(componente.pieza)%></span></td>
                    <td><%=componente.pieza.nombre%></td>
                     <td><%=componente.pieza.alto%></td>
                      <td><%=componente.pieza.ancho%></td>
                  </tr>
                  <%end%>
              </tbody>
            </table>
            
  </div>
</div>

  </div>
  <div class="tab-pane fade" id="herrajes">
  </br>
                <!--Aqui las piezas de ti herraje-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Piezas de tipo HERRAJE</h3>
  </div>
  <div class="panel-body">
    <br/>
         <!--Aqui la cuenta de piezas-->
          <p class='pull-right'>Tipos de piezas usados:&nbsp;&nbsp;<span class='badge'><%=@pedido.dame_herrajes_unicas.count%>
      <% if @herrajes.nil?%>
      <table class="table table-striped">
              <thead>
                <tr> 
                  <th>Total</th>
                  <th>Nombre de la pieza</th>
                </tr>
              </thead>
              <tbody>
                   <%@pedido.dame_herrajes_unicas.each do |componente|%>
                     <tr>
                    <td width="50"><span class='badge'><%=@pedido.total_para_modelos(componente.pieza)%></span></td>
                    <td><%=componente.pieza.nombre%></td>
                  </tr>
                  <%end%>
              </tbody>
            </table>
            <%end%>
  </div>
 </div>
  </div>
</div>