<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
    <li><%=link_to 'Inicio',root_path%></li>
    <li><%=link_to 'Clientes',clientes_path%></li>
    <li><%=link_to @pedido.cliente.nombre,@pedido.cliente%></li>
    <li><%=link_to @pedido.fecha,@pedido%></li>
    
    <li class="active">Desglose</li>
</ul>




<h1>Desglose del pedido</h1>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del pedido</h3>
  </div>
  <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><strong>Cliente</strong></dt>
          <dd><%= @pedido.cliente.nombre%> - <%= @pedido.cliente.CIF%> &nbsp;&nbsp;<b>Teléfono:</b> <%=@pedido.cliente.telefono%></dd>
          <dt><strong>Fecha</strong></dt>
          <dd><%= @pedido.fecha%></dd>
        </dl>
  
  </div>
  </div>


<!--Casco-->
<p>Cascos</p>
<table>
  <thead>
    <tr>
    <th>Nombre Pieza</th>
    <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
      <%@pedido.componentes_mueble_unicos.each do |componente|%>
          <tr>
            <td><%=componente.pieza.nombre%></td>
            <td><%=@pedido.total_pieza(componente.pieza)%></td>
          </tr>
      <% end %>
    </tbody>
</table>
<!--Puerta-->
<hr/>
<% @pedido.dame_puertas_pedido%>
<p>Puertas</p>
<table>
  <thead>
    <tr>
    <th>Nombre Pieza</th>
    <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
      <%@pedido.dame_puertas_unicas.each do |componente|%>
          <tr>
            <td><%=componente.pieza.nombre%></td>
            <td><%=@pedido.total_puertas(componente.pieza)%></td>
          </tr>
      <% end %>
    </tbody>
</table>

<!--Puerta-->
<hr/>
<% @pedido.dame_herrajes_pedido%>
<p>Puertas</p>
<table>
  <thead>
    <tr>
    <th>Nombre Pieza</th>
    <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
      <%@pedido.dame_herrajes_unicas.each do |componente|%>
          <tr>
            <td><%=componente.pieza.nombre%></td>
            <td><%=@pedido.total_herrajes(componente.pieza)%></td>
          </tr>
      <% end %>
    </tbody>
</table>

 <!--Visualización en tablas de cara a la impresión-->

 <ul class="nav nav-tabs">
  <li class="active"><a href="#cascos" data-toggle="tab">Cascos</a></li>
  <li><a href="#puertas" data-toggle="tab">Puertas</a></li>
  <li><a href="#herrajes" data-toggle="tab">herrajes</a></li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="cascos">
  </br>

            <!--Detalle de piezas-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Piezas de tipo CASCO</h3>
  </div>
  <div class="panel-body">
     
        <!--Aqui la cuenta de piezas-->
      Tipos de piezas usados:&nbsp;&nbsp;<span class='badge'>*</span>
      <br/>
      <table class="table table-striped">
              <thead>
                <tr> 
                  <th>Total</th>
                  <th>Nombre de la pieza</th>
                  <th>Nº de muebles</th>
                  <th >Cantidad por mueble</th>
                  
                </tr>
              </thead>
              <tbody>
                <% @items.each do |item| %>
                 <%item.dame_cascos.each do |componente|%>
                  <tr>
                  <td><span class='badge'><%=item.cantidad * componente.cantidad%></span></td>
                   <td><%= componente.pieza.nombre%></td>
                    <td><span class='badge'><%=item.cantidad%></span></td>
                   <td><span class='badge'><%=componente.cantidad%></span></td>
                   
                    
                   
                  </tr>
                <% end %> <% end %>
              </tbody>
            </table>
          

  </div>
</div>
 

  </div>
  <div class="tab-pane fade" id="puertas">
 <br/>
              <!--Aqui las piezas de tipo  puerta-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Piezas de tipo PUERTA</h3>
  </div>
  <div class="panel-body">
       
     <!--Aqui la cuenta de piezas-->

            <!--Detalle de piezas-->

        <!--Aqui la cuenta de piezas-->
      Tipos de piezas usados:&nbsp;&nbsp; <span class='badge'>*</span>
    
      <table class="table table-striped">
              <thead>
                <tr> 
                  <th>Total</th>
                  <th>Nombre de la pieza</th>
                  <th>Nº de muebles</th>
                  <th >Cantidad por mueble</th>
                  
                </tr>
              </thead>
              <tbody>
                <% @items.each do |item| %>
                 <%item.dame_puertas.each do |componente|%>
                  <tr>
                  <td><span class='badge'><%=item.cantidad * componente.cantidad%></span></td>
                   <td><%= componente.pieza.nombre%></td>
                    <td><span class='badge'><%=item.cantidad%></span></td>
                   <td><span class='badge'><%=componente.cantidad%></span></td>
                   
                    
                   
                  </tr>
                <% end %> <% end %>
              </tbody>
            </table>
            
  </div>
</div>

  </div>
  <div class="tab-pane fade" id="herrajes">
  </br>
                <!--Aqui las piezas de ti herraje-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Piezas de tipo HERRAJE</h3>
  </div>
  <div class="panel-body">
    <br/>
         <!--Aqui la cuenta de piezas-->
        Tipos de piezas usados:&nbsp;&nbsp; <span class='badge'><%=@herrajes%></span>
      <% if @herrajes.nil?%>
      <table class="table table-striped">
              <thead>
                <tr> 
                  <th>Total</th>
                  <th>Nombre de la pieza</th>
                  <th>Nº de muebles</th>
                  <th >Cantidad por mueble</th>
                  
                </tr>
              </thead>
              <tbody>
                <% @items.each do |item| %>
                 <%item.dame_herrajes.each do |componente|%>
                  <tr>
                  <td><span class='badge'><%=item.cantidad * componente.cantidad%></span></td>
                   <td><%= componente.pieza.nombre%></td>
                    <td><span class='badge'><%=item.cantidad%></span></td>
                   <td><span class='badge'><%=componente.cantidad%></span></td>
                   
                    
                   
                  </tr>
                <% end %> <% end %>
              </tbody>
            </table>
            <%end%>
  </div>
 </div>
  </div>
</div>