<h1>Desglose del pedido</h1>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del pedido</h3>
  </div>
  <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><strong>Cliente</strong></dt>
          <dd><%= link_to @pedido.cliente.nombre%> - <%= link_to @pedido.cliente.CIF%> &nbsp;&nbsp;<b>Teléfono:</b> <%=@pedido.cliente.telefono%></dd>
          <dt><strong>Fecha</strong></dt>
          <dd><%= @pedido.fecha%></dd>
        </dl>
  
  </div>
  </div>
  <!--Detalle de piezas-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Piezas de tipo CASCO</h3>
  </div>
  <div class="panel-body">
        <!--Aqui la cuenta de piezas-->
  		Total de piezas:

  		<table class="table table-striped">
              <thead>
                <tr> 
                  <th>Cantidad:</th>
                  <th>Nombre de la pieza</th>
                </tr>
              </thead>
              <tbody>
                <% @cascos.each do |componente| %>
                  <tr>
                   <td><%=componente.cantidad%></td>
                    <td><%= componente.pieza.nombre%></td>
                    
                   
                  </tr>
                <% end %>
              </tbody>
            </table>


  </div>
</div>
 
<!--Aqui las piezas de tipo  puerta-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Piezas de tipo PUERTA</h3>
  </div>
  <div class="panel-body">
       
  	 <!--Aqui la cuenta de piezas-->
  </div>
</div>
<!--Aqui las piezas de ti herraje-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Piezas de tipo HERRAJE</h3>
  </div>
  <div class="panel-body">
         <!--Aqui la cuenta de piezas-->
  
  </div>
 </div>