<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
    <li><%=link_to 'Inicio',muebles_path%></li>
  <li class="active">Familias</li>
</ul>

<%- model_class = Clase -%>
<div class="page-header">
  <h1>Familia <%= link_to 'Nueva familia',
            new_clase_path,
            :class => 'btn btn-primary pull-right' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>

      <th>Nombre</th>
      <th>Muebles</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @clases.each do |clase| %>
      <tr>
        <td><%= link_to clase.nombre,modelos_path(:clase=>clase) %></td>
        <td> <span class="badge"><%=clase.muebles.count%></span>&nbsp;muebles en la familia</td>
        <td><%= clase.descripcion %></td>

        <td width="100">
              <div class="btn-group">
                <a href="<%=clase_path(clase)%>" class="btn btn-primary">Ver</a>
                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="<%=edit_clase_path(clase)%>">Editar</a></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Borrar la familia', clase,
                         method: :delete,
                         data: { confirm: '¿Estás seguro? Esta acción no se puede deshacer. Los muebles que pertenezcan a esta familia se eliminarán' },:class=>"" %></li>
                </ul>
            </div>
         </td>
      </tr>
      </tr>
    <% end %>
  </tbody>
</table>


