<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
    <li><%=link_to 'Inicio',muebles_path%></li>
  <li class="active">Familias</li>
</ul>

<%- model_class = Clase -%>
<div class="page-header">
  <h1>Familia</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Muebles</th>
      <th>Descripción</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @clases.each do |clase| %>
      <tr>
        <td><%= link_to clase.id, clase_path(clase) %></td>
        <td><%= link_to clase.nombre,modelos_path(:clase=>clase) %></td>
        <td> <span class="badge"><%=clase.muebles.count%></span></td>
        <td><%= clase.descripcion %></td>
        <td><%=l clase.created_at %></td>
        <td>
          <%= link_to 'Editar',
                      edit_clase_path(clase), :class => 'btn btn-primary btn' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      clase_path(clase),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_clase_path,
            :class => 'btn btn-primary' %>
