<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
  <li><%=link_to 'Inicio',root_path%></li>
  <li><%=link_to 'Familias',clases_path%></li>
    <li class='active'><%= @clase.nombre%></li>
</ul>

<%- model_class = Clase -%>
<div class="page-header">
  <h1>Detalles de la familia</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @clase.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
  <dd><%= @clase.descripcion %></dd>
</dl>

<div class="form-actions">

  <%= link_to 'Editar',
              edit_clase_path(@clase), :class => 'btn btn-primary' %>
  <%= link_to 'Eliminar',
              clase_path(@clase),
              :method => 'delete',
              :data => { :confirm => '¿Estás seguro? Todos los muebles de esta familia se eliminarán' },
              :class => 'btn btn-danger' %>
</div>
