<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @clase.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @clase.descripcion %>
</p>

<%= link_to 'Edit', edit_clase_path(@clase) %> |
<%= link_to 'Back', clases_path %>
