

<%= form_for @mueble, :html => { :class => 'form-horizontal' } do |f| %>
<% if @mueble.errors.any? %>
<ul>
    <div class="form-group">
     <div class="col-lg-2"></div>
      <div class="col-lg-6">
  <% @mueble.errors.full_messages.each do |msg| %>
              <li class="text-danger"> <%= msg %></li>
  <% end %>
   </div>
  </div>
</ul>
<% end %>

  <div class="form-group">
    <%= f.label 'Nombre del modelo', :class => 'control-label col-lg-2' %>
     <div class="col-lg-6">
    <%= f.text_field :nombre, :class => 'form-control' %>
    </div>
  </div>
 
  <div class="form-group">
    <%= f.label 'Familia', :class => 'control-label col-lg-2' %>
     <div class="col-lg-6">
   <%= f.collection_select:clase_id, Clase.all, :id,:nombre, {prompt: "Elige una categoría"}, {class: "form-control"}  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Alto', :class => 'control-label col-lg-2' %>
     <div class="col-lg-6">
    <%= f.text_field :alto, :class => 'form-control', :step => 0.5 %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Ancho', :class => 'control-label col-lg-2' %>
     <div class="col-lg-6">
    <%= f.text_field :ancho, :class => 'form-control', :step => 0.5 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Fondo', :class => 'control-label col-lg-2' %>
     <div class="col-lg-6">
    <%= f.text_field :fondo, :class => 'form-control', :step => 0.5 %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label 'Descripción del mueble', :class => 'control-label col-lg-2' %>
     <div class="col-lg-6">
    <%= f.text_area :descripcion, :class => 'form-control' %>
    </div>
  </div>
   <div class="form-group">
    <div class ='control-label col-lg-2'></div>
     <div class="col-lg-6">
     <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar', :class => 'btn' %>
    </div>
  </div>

  <div class="form-actions">
 
  </div>
<% end %>
