<%= form_for @mueble, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <%= f.text_field :nombre, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <%= f.text_area :descripcion, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :ancho, :class => 'control-label' %>
    <%= f.number_field :ancho, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :alto, :class => 'control-label' %>
    <%= f.number_field :alto, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :fondo, :class => 'control-label' %>
    <%= f.number_field :fondo, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Categoría, :class => 'control-label' %>
    <!--<%= f.number_field :clase_id, :class => 'form-control' %>-->
     <%= f.collection_select:clase_id, Clase.all, :id,:nombre, {prompt: "Elige una categoría"}, {class: "form-control"}  %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                muebles_path, :class => 'btn' %>
  </div>
<% end %>
