<%= form_for(@mueble) do |f| %>
  <% if @mueble.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mueble.errors.count, "error") %> prohibited this mueble from being saved:</h2>

      <ul>
      <% @mueble.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :ancho %><br>
    <%= f.number_field :ancho %>
  </div>
  <div class="field">
    <%= f.label :alto %><br>
    <%= f.number_field :alto %>
  </div>
  <div class="field">
    <%= f.label :fondo %><br>
    <%= f.number_field :fondo %>
  </div>
  <div class="field">
    <%= f.label :clase_id %><br>
    <%= f.collection_select(:clase_id, Clase.all, :id, :nombre,:prompt=>'Sin categoría' ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
