<p id="notice"><%= notice %></p>

<h1>Listing Muebles</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Ancho</th>
      <th>Alto</th>
      <th>Fondo</th>
      <th>Familia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @muebles.each do |mueble| %>
      <tr>
        <td><%= mueble.nombre %></td>
        <td><%= mueble.descripcion %></td>
        <td><%= mueble.ancho %></td>
        <td><%= mueble.alto %></td>
        <td><%= mueble.fondo %></td>
        <td><%= mueble.familia %></td>
        <td><%= link_to 'Show', mueble %></td>
        <td><%= link_to 'Edit', edit_mueble_path(mueble) %></td>
        <td><%= link_to 'Destroy', mueble, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mueble', new_mueble_path %>
