
 <ul class="breadcrumb">Estás en: &nbsp;&nbsp;
 <li><%=link_to 'Inicio',root_path%></li>
  <li><%=link_to 'Muebles',muebles_path%></li>
  <li class="active"><%=@mueble.nombre%></li>
</ul>
<!--<%- model_class = Mueble -%>-->
<!--<div class="page-header">
  <h3><%=@mueble.nombre%></h3>
</div>-->

<div class="panel panel-default">
  <div class="panel-body">
    <h4><%=@mueble.nombre%> <div class="btn-group pull-right">
                <a href="<%=edit_mueble_path(@mueble)%>" class="btn btn-primary">Editar</a>
               
                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Borrar el mueble', @mueble,
                         method: :delete,
                         data: { confirm: '¿Estás seguro? Esta acción no se puede deshacer. Los modelos de este mueble también se eliminarán' },:class=>"" %></li>
                </ul>
              </div>

    </h4><p>Este mueble usa <b><%=@mueble.piezas.count%></b> tipos de piezas y tiene <%=pluralize(@mueble.modelos.count, 'modelo')%><p>
  </div>
</div>

<%=render :partial =>'infoAcordeon'%>

<%=render :partial =>'anyadirPiezas'%>






