
 <ul class="breadcrumb">Estás en: &nbsp;&nbsp;
 <li><%=link_to 'Inicio',root_path%></li>
  <li><%=link_to 'Muebles',muebles_path%></li>
  <li class="active"><%=@mueble.nombre%></li>
</ul>
<!--<%- model_class = Mueble -%>-->
<!--<div class="page-header">
  <h3><%=@mueble.nombre%></h3>
</div>-->

<div class="panel panel-default">
  <div class="panel-body">
    <h4><%=@mueble.nombre%></h4><p>Este mueble usa <b><%=@mueble.piezas.count%></b> tipos de piezas y tiene <b><%=@mueble.modelos.count%></b> modelo/s<p>
  </div>
</div>



       <!-- Distribuimos la información en paneles para simplificar la visyualización-->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#info" data-toggle="tab" aria-expanded="false">Información del mueble</a></li>
    <li class=""><a href="#piezas" data-toggle="tab" aria-expanded="true">Piezas del mueble</a></li>
    <li class=""><a href="#modelos" data-toggle="tab" aria-expanded="true">Modelos del mueble</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="info">
   
  <br/>
                    <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title"><%= @mueble.nombre %><%= link_to 'Editar el mueble',
                        edit_mueble_path(@mueble), :class => 'btn btn-primary pull-right' %></h3>
              
            </div>
            <div class="panel-body">
                  <dl class="dl-horizontal">
                <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
                <dd><%= @mueble.nombre %></dd>
                <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
                <dd><%= @mueble.descripcion %></dd>
                <dt><strong><%= model_class.human_attribute_name(:ancho) %>:</strong></dt>
                <dd><%= @mueble.ancho %></dd>
                <dt><strong><%= model_class.human_attribute_name(:alto) %>:</strong></dt>
                <dd><%= @mueble.alto %></dd>
                <dt><strong><%= model_class.human_attribute_name(:fondo) %>:</strong></dt>
                <dd><%= @mueble.fondo %></dd>
                <dt><strong><%= model_class.human_attribute_name(:categoría) %>:</strong></dt>
                <% if !@mueble.clase.nil?%> <dd><%= @mueble.clase.nombre %></dd><%end%>
              </dl>
                <div class="pull-right">
               
                  <%= link_to 'Eliminar',
                        mueble_path(@mueble),
                        :method => 'delete',
                        :data => { :confirm => '¿Estás seguro? Esto no se puede deshacer' },
                        :class => 'btn btn-danger btn-xs' %>
               </div>
            </div>
          </div>
  </div>
  <div class="tab-pane fade " id="piezas">
           <br/>
          <!--Aquí las piezas del mueble:-->
            <table class="table table-striped">
            <thead>
              <tr  class="success">
               
                <th><%= model_class.human_attribute_name(:nombre) %></th>
                <th><%= model_class.human_attribute_name(:cantidad) %></th>
               
                <!--<th><%= model_class.human_attribute_name(:created_at) %></th>-->
                <th>
                  <button type="button" class="btn btn-primary  pull-right" data-toggle="modal" data-target="#myModal">
                  Añadir piezas
          </button>
                
            </thead>
            <tbody>
              <% @mueble.componentes.each do |componente| %>
                <tr>
                  
                  <td><%= link_to componente.pieza.nombre, pieza_path(componente.pieza) %></td>
                  <td><span class="badge"><%= componente.cantidad %></span></td>
                 <!-- <td><%=l componente.pieza.created_at %></td>-->
                  <td>
                    
                    <%= link_to 'Borrar piezas', [componente.mueble, componente],
                         method: :delete,
                         data: { confirm: '¿Está seguro? Esta acción no se puede deshacer' },:class=>"btn btn-danger btn-xs pull-right" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <!--Fin-->
  </div>
  <div class="tab-pane fade" id="modelos">
            <br/>
            <table class="table table-striped">
            <thead>
              <tr  class="success">
                <th>Modelo</th>
                <th>Descripcción</th>
                <th> <%= link_to 'Añadir modelo', new_mueble_modelo_path(@mueble),:class=>"btn btn-primary pull-right" %> </th>
            </thead>
            <tbody>
              <% @mueble.modelos.each do |modelo| %>
                <tr>
                  
                  <td><%= link_to modelo.nombre, modelo_path(modelo) %></td>
                  <td><%= modelo.descripcion %></td>
                  <td>
                    
                    <%= link_to 'Borrar el modelo', [modelo.mueble, modelo],
                         method: :delete,
                         data: { confirm: '¿Está seguro? Esta acción no se puede deshacer' },:class=>"btn btn-danger btn-xs pull-right" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

  </div>
  
<!--Fin de la distribuición-->







<!--Aqui la ventana modal para añadir piezas...-->
  <!-- Button trigger modal 
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>-->




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%=@mueble.nombre.capitalize%></h4>
      </div>
      <div class="modal-body">
        

        <!--Aquí el formulario-->
        
            <div class="well">
                  <i>Sólo se usan piezas del tipo <b>CASCO</b></i>
                </div>
            <%= form_for([@mueble, @mueble.componentes.build]) do |f| %>
              <p>
                <%= f.label :mueble %><br>
                <%= f.hidden_field :mueble_id %>
              </p>
              <p>
                <%= f.label :pieza_id %><br>
              
                <%= f.collection_select(:pieza_id, Pieza.where("tipo = 'Casco'"), :id, :nombre ) %>
               <!-- <%= f.text_area :pieza_id %>-->
              </p>
               <p>
                <%= f.label :cantidad %><br>
                <%= f.number_field :cantidad %>
              </p>
              <p>
                <%= f.submit 'Guardar',:class=>'btn btn-primary' %>
              </p>
            <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

