
<%= form_for @pedido, :html => { :class => 'form-horizontal' } do |f| %>	 
<% if @pedido.errors.any? %>
<ul>
    <div class="form-group">
     <div class="col-lg-2"></div>
      <div class="col-lg-6">
  <% @pedido.errors.full_messages.each do |msg| %>
              <li class="text-danger"> <%= msg %></li>
  <% end %>
   </div>
  </div>
</ul>
<% end %>
 
 
   		<div class="form-group">
         <%= f.label 'Cliente', :class => 'control-label col-lg-2' %>
        <div class="col-lg-6">
         <%= f.collection_select(:cliente_id, Cliente.all, :id, :nombre, {:prompt => 'Elige el cliente'},{:class=>'form-control'}) %>
        </div>
      </div> 
     
 <div class="form-group">
         <%= f.label 'Estado', :class => 'control-label col-lg-2' %>
       <div class="col-lg-6">
    <%= f.select :estado, options_for_select([['Tomado', 'Tomado'], ['En producci칩n', 'En producci칩n'],['Entregado', 'Entregado']]) ,{}, {:class=>'form-control'}%>
    </div>
  </div>

  <div class="form-group">
  	<div class='col-lg-2'></div>
    <div class="col-lg-6">
    <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar',pedidos_path, :class => 'btn' %>
    </div>
  </div>

  <div class="form-group">
  <div class='col-lg-2'></div>
  <div class="col-lg-6">
    <div class="well">
      <ul>
           <li><i> Una vez se guarda el pedido se pueden a침adir los elementos</i></li>
           <li><i>La <b>fecha y hora</b> del pedido se generan autom치ticamente al guardar el pedido</i></li>
      <ul>
    </div>
  </div>
</div>

<% end %>
