<%- model_class = Pedido -%>
<div class="page-header">
  <h1>Pedidos <%= link_to 'Nuevo pedido',new_pedido_path,:class => 'btn btn-primary pull-right' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="20">ID</th>
      <th width="150">Fecha del pedido</th>
      <th>Cliente</th>
      <th>Items</th>
      <th >Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= link_to pedido.id, pedido_path(pedido) %></td>
        <td><%= pedido.fecha%></td>
        <td><%=link_to pedido.cliente.nombre,pedido.cliente %></td>
        <td><%=pedido.modelos.sum('cantidad')%></td>
        <td>
          <%= link_to 'Editar',
                      edit_pedido_path(pedido), :class => 'btn btn-primary btn-xs' %>
          <%= link_to 'Eliminar',
                      pedido_path(pedido),
                      :method => :delete,
                      :data => { :confirm => 'Se eliminara este pedido del historial del cliente.¿Está seguro?'},
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


