<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
  <li><%=link_to 'Inicio',root_path%></li>
    <li class='active'>Pedidos</li>
</ul>


<%- model_class = Pedido -%>
<div class="page-header">
  <h1>Pedidos <%= link_to 'Nuevo pedido',new_pedido_path,:class => 'btn btn-primary pull-right' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="150">Fecha del pedido</th>
      <th>Cliente</th>
      <th>Items</th>
      <th>Estado</th>
      <th >Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.fecha%></td>
        <td><%=link_to pedido.cliente.nombre.concat(' - ').concat(pedido.cliente.CIF),pedido.cliente %></td>
        <td><span class='badge'><%=pedido.modelos.sum('cantidad')%></span>&nbsp;&nbsp;</td>
        <td><span class="<%=selector_estado(pedido.estado)%>"><%= pedido.estado%></span></td>
        <td width="100">
              <div class="btn-group">
                <a href="<%=pedido_path(pedido)%>" class="btn btn-primary">Ver</a>
                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="<%=edit_pedido_path(pedido)%>">Editar</a></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Borrar el pedido', pedido,
                         method: :delete,
                         data: { confirm: '¿Estás seguro? Esta acción no se puede deshacer. Los items de este cliente también se eliminarán' },:class=>"" %></li>
                </ul>
            </div>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>


