<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
  <li><%=link_to 'Inicio',root_path%></li>
    <li><%=link_to 'Pedidos',pedidos_path%></li>
    <li class='active'>Cliente: <%=@pedido.cliente.nombre%> - Fecha: <%=@pedido.fecha%></li>
</ul>



<div class="page-header">
  <h1>Detalles del pedido
  <div class="btn-group pull-right">
                <%=link_to 'Ver orden de trabajo',desglose_show_path(:id=>@pedido),:class=>'btn btn-primary'%>
                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="<%=edit_pedido_path(@pedido)%>">Editar el pedido</a></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Borrar el pedido', @pedido,
                         method: :delete,
                         data: { confirm: '¿Estás seguro? Esta acción no se puede deshacer. Los items de este cliente también se eliminarán' },:class=>"" %></li>
                </ul>
            </div>



</h1>
</div>
<!--Información general del pedido-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Detalles del pedido</h3>
  </div>
  <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><strong>Cliente</strong></dt>
          <dd><%= link_to @pedido.cliente.nombre,@pedido.cliente%></dd>
          <dt><strong>Fecha</strong></dt>
          <dd><%= @pedido.fecha%> </dd>
           <dt><strong>Estado</strong></dt>
          <dd><span class="<%=selector_estado(@pedido.estado)%>"><%= @pedido.estado%></span> </dd>
        </dl>
  </div>
</div>
<!-- Items del pedido-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Elementos del pedido </h3>
  </div>
  <div class="panel-body">
              <span><%=link_to 'Añadir',new_pedido_item_path(@pedido),:class=>'btn btn-primary pull-right'%></span>
              <table class="table table-striped">
              <thead>
                <tr> 
                  <th>Cantidad</th>
                  <th>Nombre del modelo</th>
                  <th >Acciones </th>
                </tr>
              </thead>
              <tbody>
                <% @pedido.items.each do |item| %>
                  <tr>
                    <td width="20"><span class='badge'><%= item.cantidad%></span></td>
                    <td><%=link_to item.modelo.nombre,item_path(item) %></td>
                      <td width="100">
              <div class="btn-group">
                <a href="<%=item_path(item)%>" class="btn btn-primary">Ver</a>
                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="<%=edit_item_path(item)%>">Editar</a></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Borrar el item', item,
                         method: :delete,
                         data: { confirm: '¿Estás seguro? Esta acción no se puede deshacer' },:class=>"" %></li>
                </ul>
            </div>
         </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
  </div>
</div>


