<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Información del modelo:
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <dl class="dl-horizontal">
              <dt>Código:</strong></dt>
              <dd><%= @modelo.codigo %></dd>
            
              <dt><strong>Mueble base: </strong></dt>
              <dd><%= link_to @modelo.mueble.nombre,mueble_path(@modelo.mueble) %></dd>
              <!--<dt>Piezas del modelo base:</strong></dt>
              <dd> <span class="badge"><%= @modelo.mueble.piezas.count %></span></dd>
              <dt>Total de piezas del modelo base:</strong></dt>
              <dd> <span class="badge"><%= @modelo.mueble.componentes.sum('cantidad') %></span></dd>-->
              
              <dt>Alto</dt>
              <dd><%= @modelo.mueble.alto %></dd>
              <dt>Ancho</dt>
              <dd><%= @modelo.mueble.ancho %></dd>
              <dt><strong>Fondo:</strong></dt>
              <dd><%= @modelo.mueble.fondo %></dd>

              <dt><strong>Descripción</strong></dt>
             <!-- <dd><%= @modelo.descripcion %></dd>  -->
              <dd><%= @modelo.descripcion %></dd>
          </dl>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Piezas específicas: 
        </a>
        &nbsp;&nbsp;<span class="badge"><%= @modelo.componentes.count %></span>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
            <!---->
            <table class="table table-striped">
            <thead>
              <tr>
                <th width="50">Cantidad</th>
                <th>Nombre de la pieza</th>
                <th>
                  <button type="button" class="btn btn-primary  pull-right" data-toggle="modal" data-target="#myModal">
                    Añadir piezas
                 </button>
                </th>
                </tr>
            </thead>
            <tbody>
              <% @modelo.componentes.each do |componente| %>
                <tr>
                   <td class='pull-right'><span class="badge"><%= componente.cantidad %></span></td>
                  <td><%= link_to componente.pieza.nombre, pieza_path(componente.pieza) %></td>
                 
                 <!-- <td><%=l componente.pieza.created_at %></td>-->
                  <td>
                    <%= link_to 'Borrar la pieza', [componente.modelo, componente],
                         method: :delete,
                         data: { confirm: '¿Estás seguro? Esta acción no se puede deshacer' },:class=>"btn btn-danger btn-xs pull-right" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Piezas base:

        </a>
        &nbsp;&nbsp;<span class="badge"><%= @modelo.mueble.componentes.count %></span>
      </h4>

    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
             <div class="well">
                  <i>Sólo muestran piezas del tipo <b>CASCO</b> del <b>mueble base</b>, cambia el mueble base para cambiar las piezas que aparecen aquí</i>
            </div>

              <table class="table table-striped">
            <thead>
              <tr >
                <th width="50">Cantidad</th>
                <th>Nombre de la pieza</th>
                
                </tr>
            </thead>
            <tbody>
              <% @modelo.mueble.componentes.each do |componente| %>
                <tr>
                   <td class='pull-right'><span class="badge"><%= componente.cantidad %></span></td>
                  <td><%= link_to componente.pieza.nombre, pieza_path(componente.pieza) %></td>
                 
                 <!-- <td><%=l componente.pieza.created_at %></td>-->
                 
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>