<p id="notice"><%= notice %></p>
<h1>Mueble: <%=@mueble.nombre%></h1>
<h1>Listing Modelos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Ancho</th>
      <th>Alto</th>
      <th>Fondo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modelos.each do |modelo| %>
      <tr>
        <td><%= modelo.nombre %></td>
        <td><%= modelo.descripcion %></td>
        <td><%= modelo.ancho %></td>
        <td><%= modelo.alto %></td>
        <td><%= modelo.fondo %></td>
        <td><%= link_to 'Show', modelo %></td>
        <td><%= link_to 'Edit', edit_modelo_path(modelo) %></td>
        <td><%= link_to 'Destroy', modelo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modelo', new_modelo_path(:mueble_id=>params[:mueble_id]) %>
<hr/>
<%=link_to 'Mueble',@mueble%>