<h1>Mueble:<%=@modelo.mueble.nombre%><h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @modelo.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @modelo.descripcion %>
</p>

<p>
  <strong>Ancho:</strong>
  <%= @modelo.ancho %>
</p>

<p>
  <strong>Alto:</strong>
  <%= @modelo.alto %>
</p>

<p>
  <strong>Fondo:</strong>
  <%= @modelo.fondo %>
</p>
<!-- Mostramos los componetes del modelo-->
<hr/>
<h3>Componentes:</h3>
<p><b>**</b>Únicamente se emplean piezas del tipo casco herraje y puerta</p>
<!--Usar un render aquí-->
<!-- Mostramos los componetes del modelo-->
<table border='1'>
<tr><th>Modelo:</th><td><%= @modelo.nombre %></td></tr>
<tr><th>Pieza</th><td>Cantidad</td></tr>
<% @modelo.componentes.each do |componente| %>
<tr><td><%= componente.pieza.nombre %></td><td><%= componente.cantidad %></td></tr>
  
<% end %>
<table>
<!--Añadimos los componetens de este modelo...-->
<h2>Añade componentes al modelo:</h2>
<%= form_for([@modelo, @modelo.componentes.build]) do |f| %>
  <p>
    <%= f.label :modelo_id %><br>
    <%= f.hidden_field :modelo_id %>
  </p>
  <p>
    <%= f.label :pieza_id %><br>
    <p><b>**</b>Solo se muestran las piezas de tipo PUERTA y HERRAJE<p>
    <%= f.collection_select(:pieza_id, Pieza.where("tipo != 'Casco'"), :id, :nombre ) %>
   <!-- <%= f.text_area :pieza_id %>-->
  </p>
   <p>
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<h3>Piezas</h3>
Total de piezas<%=@modelo.piezas.count%>

<%= link_to 'Edit', edit_modelo_path(@modelo) %> |
<%= link_to 'Back', mueble_modelos_path(@modelo.mueble) %>
<hr/>
<%= link_to 'Inicio',root_path%>