<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
    <li><%=link_to 'Inicio',root_path%></li>
    <li><%=link_to 'Muebles',muebles_path%></li>
    <li><%=link_to @modelo.mueble.nombre,mueble_path(@modelo.mueble)%></li>
  <li class="active"><%=@modelo.nombre%></li>
</ul>
 
<div class="page-header">
  <h1>Detalle de modelo: <%=@modelo.nombre%></h1>
</div>
    
<%= render :partial => 'infoAcordeon' %>


<div class="form-actions">
  <%= link_to 'Editar', edit_modelo_path(@modelo), :class => 'btn btn-primary' %>
  <%= link_to 'Borrar',modelo_path(@modelo),:method => 'delete',:data => { :confirm => '¿Estás seguro? Se borrará el modelo de los pedidos en los que aparezca. Esto no se puede deshacer' },:class => 'btn btn-danger' %>
</div>

  <%= render :partial => 'anyadirPiezas' %>



       
  
