<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
    <li><%=link_to 'Inicio',root_path%></li>

    <%if params[:controller]=='modelo'%>
    <li><%=link_to 'Modelos',modelos_path%></li>
    
    <%elsif params[:controller] =='mueble' || params[:mueble_id]%>
       <li><%=link_to @mueble.nombre,muebles_path(@mueble)%></li>

    <%end%>
  <li class="active"><%=@modelo.nombre%></li>


</ul>
  <%=params[:controller]   %>
  <%=params[:mueble_id]%>


<%- model_class = Modelo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Nombre del modelo: <%= @modelo.nombre %></h3>
  </div>
  <div class="panel-body">
      <dl class="dl-horizontal">
      <dt>Código:</strong></dt>
      <dd><%= @modelo.codigo %></dd>
      <dt><strong>Mueble base: </strong></dt>
      <dd><%= link_to @modelo.mueble.nombre,mueble_path(@modelo.mueble) %></dd>
      <dt>Piezas del modelo base:</strong></dt>
      <dd> <span class="badge"><%= @modelo.mueble.piezas.count %></span></dd>
      <dt>Total de iezas del modelo base:</strong></dt>
      <dd> <span class="badge"><%= @modelo.mueble.componentes.sum('cantidad') %></span></dd>
      <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
      <dd><%= @modelo.descripcion %></dd>
      <dt>Alto</dt>
      <dd><%= @modelo.mueble.alto %></dd>
      <dt>Ancho</dt>
      <dd><%= @modelo.mueble.ancho %></dd>
      <dt><strong><%= model_class.human_attribute_name(:fondo) %>:</strong></dt>
      <dd><%= @modelo.mueble.fondo %></dd>
      
</dl>
  </div>
</div>



<div class="form-actions">
  
  <%= link_to 'Editar',
              edit_modelo_path(@modelo), :class => 'btn btn-primary' %>
  <%= link_to 'Borrar',
              modelo_path(@modelo),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  
</div>
