
  <%= form_for(@item, :html => { :class => 'form-horizontal' }) do |f| %>


  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
    <div class='col-lg-3'> </div>
   <div class="col-lg-4">
     <div class="well">
     <i>Elige los <b>modelos</b> y la <b>cantidad</b> que quieres añadir al pedido</i>
  </div>
    </div>
    </div>

  
    <%= f.hidden_field :pedido_id%>
    <div class="form-group">
   <%= f.label 'Modelo', :class => 'control-label col-lg-3' %>
   <div class="col-lg-4">
      <%= f.collection_select(:modelo_id, Modelo.all, :id, :nombre, {:prompt => 'Elige el modelo'},{:class=>'form-control '}) %>
    </div> 
    </div>
    <div class="form-group">
  <%= f.label 'cantidad', :class => 'control-label col-lg-3' %>
   <div class="col-lg-4">
    <%= f.number_field :cantidad %>
    </div>
    </div>
  
    <div class="form-group">
    <div class='col-lg-3'> </div>
   <div class="col-lg-4">
    
    <%=f.submit 'Guardar',:class=>'btn btn-primary'%>

    </div>
    </div>

<% end %>
