<p id="notice"><%= notice %></p>

<p>
  <strong>Pedido:</strong>
  <%= @item.pedido %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @item.modelo %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @item.cantidad %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
