<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
    <li><%=link_to 'Inicio',pedidos_path%></li>
    <li><%= link_to @item.pedido.cliente.nombre.concat(" - ").concat(@item.pedido.fecha),@item.pedido %></li>
    <li class='active'><%=@item.modelo.nombre%></li>
<ul>

<%- model_class = Item -%>
<div class="page-header">
  <h1>Detalles del item</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:pedido_id) %>:</strong></dt>
  <dd><%= @item.pedido.cliente.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:modelo_id) %>:</strong></dt>
  <dd><%= link_to @item.modelo.nombre, @item.modelo%></dd>
  <dt><strong>Unidades:</strong></dt>
  <dd><%= @item.cantidad %></dd>
  <dt></dt>
  <dd>
   
    
    <br/>
<div class="form-actions">
  <%= link_to 'Editar',edit_item_path(@item), :class => 'btn btn-primary' %>
  <%= link_to 'Borrar', @item,
              :method => 'delete',
              :data => { :confirm => '¿Estás seguro? Esto no se puede deshacer' },
              :class => 'btn btn-danger' %>
</div>
  </dd>
</dl>
<h4>Piezas del mueble base</h4>
 <table class="table table-striped">
            <thead>
              <tr>
                <th width="50">Cantidad</th>
                <th>Nombre de la pieza</th>
                
                </tr>
            </thead>
            <tbody>
              <% @item.modelo.mueble.componentes.each do |componente| %>
                <tr>
                   <td class='pull-right'><span class="badge"><%= componente.cantidad %></span></td>
                  <td><%=  componente.pieza.nombre %></td>
                 
                 <!-- <td><%=l componente.pieza.created_at %></td>-->
                  <td>
                 
                </tr>
              <% end %>
            </tbody>
          </table>
<h4>Piezas específicas del modelo</h4>
 <table class="table table-striped">
            <thead>
              <tr>
                <th width="50">Cantidad</th>
                <th>Nombre de la pieza</th>
                
                </tr>
            </thead>
            <tbody>
              <% @item.modelo.componentes.each do |componente| %>
                <tr>
                   <td class='pull-right'><span class="badge"><%= componente.cantidad %></span></td>
                  <td><%=  componente.pieza.nombre %></td>
                 
                 <!-- <td><%=l componente.pieza.created_at %></td>-->
                  <td>
                 
                </tr>
              <% end %>
            </tbody>
          </table>

