<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
    <li><%=link_to 'Inicio',pedidos_path%></li>
    <li><%= link_to @item.pedido.cliente.nombre.concat(" - ").concat(@item.pedido.fecha),@item.pedido %></li>
    <li class='active'><%=@item.modelo.nombre%></li>
<ul>

<%- model_class = Item -%>
<div class="page-header">
  <h1>Detalles del item</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:pedido_id) %>:</strong></dt>
  <dd><%= @item.pedido.cliente.nombre %> - <%=@item.pedido.fecha%></dd>
  <dt><strong><%= model_class.human_attribute_name(:modelo_id) %>:</strong></dt>
  <dd><%= @item.modelo.nombre %></dd>
  <dt><strong>Unidades:</strong></dt>
  <dd><%= @item.cantidad %></dd>
  <dt></dt>
  <dd>
    
    <br/>
<div class="form-actions">
  <%= link_to 'Editar',edit_item_path(@item), :class => 'btn btn-primary' %>
  <%= link_to 'Borrar', @item,
              :method => 'delete',
              :data => { :confirm => '¿Estás seguro? Esto no se puede deshacer' },
              :class => 'btn btn-danger' %>
</div>
  </dd>
</dl>

